.canvas-container {

height:100vh;

display:flex;

justify-content:center;

align-items:center;

position:relative;

}


.three-container {

width:100%;
height:100%;

}



.view-controls {

position:absolute;

bottom: 30px;
left: 50%;
transform: translateX(-50%);

display:flex;

gap:10px;

z-index:5;

}



.view-controls button {

background:#20263d;

color:white;

border:none;

padding:8px 15px;

border-radius:10px;

}



.view-controls button:hover {

background:#6d5dfc;

}